.works {
  background-image: url("../../../images/sea.jpg");
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  margin: 180px auto;
}

.container > h2 {
  font-size: 60px;
  opacity: 0.7;
}
.container > h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #cc4b3a;
}

@media screen and (max-width: 1500px) {

  .container  {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {

  .container  {
    width: 87%;
  }
}

@media screen and (max-width: 650px) {

  .container > h2 {
    font-size: 50px;
    opacity: 0.7;
  }
  .container > h2:after {
    width: 120px;
  }
}

@media screen and (max-width: 450px) {
  .works {
    height: 100%;
    background-attachment: fixed;
    position: inherit;
    margin: 0 auto;
    padding: 30px 0 110px 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    height: auto;
    overflow: auto;
  }

  .container > h2 {
    font-size: 40px;
    opacity: 0.7;
  }
  .container > h2:after {
    width: 140px;
  }

  .slider_wrapper {
    width: 100%;
  }
}
